include views/mixins/mixins

block vars
  - var lang                   = 'nl'
  - var pageTitle             = 'pageTitle'
  - var pageDescription       = 'Description'
  - var bodyClass             = ''

block socialMedia
  - var useTwitterMetaTags     = false
  - var useFacebookMetaTags    = false
  - var twitterCard            = 'summary'
  - var twitterHandler         = '@someone'
  - var twitterTitle           = 'The Twitter Title'
  - var twitterDescription     = 'The Twitter Description'
  - var twitterImage           = 'Link To The Twitter Image'

  - var facebookType           = 'website'
  - var facebookTitle          = 'The Facebook Title'
  - var facebookDescription    = 'The Facebook Description'
  - var facebookImage          = 'Link To The Facebook Image'

  - var socialURL              = 'http://www.theurl.com'

block favicons
  - var useAppleIcons          = false



doctype html

html(lang=lang class="no-js " + lang)

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{ pageTitle }
    meta(name="description", content=pageDescription)
    meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    //- Font icons material
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    //- Font custom
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i", rel="stylesheet")
    //- Bootstrap plugin
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css", rel="stylesheet")

    if useTwitterMetaTags
      meta(name="twitter:card", content=twitterCard)
      meta(name="twitter:site", content=twitterHandler)
      meta(name="twitter:url", content=socialURL)
      meta(name="twitter:title", content=twitterTitle)
      meta(name="twitter:description", content=twitterDescription)
      meta(name="twitter:image", content=twitterImage)

    if useFacebookMetaTags
      meta(property="og:type", content=facebookType)
      meta(property="og:url", content=socialURL)
      meta(property="og:title", content=facebookTitle)
      meta(property="og:description", content=facebookDescription)
      meta(property="og:image", content=facebookImage)

    //- link(rel="icon", type="image/x-icon", href="assets/img/favicons/favicon.ico")


    if useTouchIcons
      link(rel="apple-touch-icon", href="assets/img/favicons/touch-icon-precomposed.png")


    block headerStyles
      != '\n    <!-- build:css -->'
      link(rel="stylesheet", href="assets/styles/style.css")
      != '\n    <!-- endbuild -->'

    block headerScripts
      != '\n    <!-- inject:head:js -->'
      != '\n    <!-- endinject -->'

  body(class=bodyClass)
    block contentMain

    != '\n'

    block footerScripts
      != '\n\n    <!-- inject:head:js -->'
      != '\n\n    <!-- endinject -->'
      != '\n\n    <!-- build:js -->'
      script(src="assets/js/lib/jquery.min.js")
      script(src="assets/js/lib/select2.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
      script(src="assets/js/script.js")
      != '\n    <!-- endbuild -->\n'
